.signup-interests-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
}

.signup-interests-card:hover {
    border:1px solid #3d70b2;
}

body.is-dark .signup-interests-card {
    color:white;
    background-color: #3d70b26b;
}

.signup-interests-card.is-selected {
    border:1px solid #3d70b2;
    -webkit-box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important;
	box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important
}