.toast {
    position: fixed;
    max-width: 300px;
    bottom: 1rem;
    right: 1rem;
    z-index: 99999999999999999;
    background: white;
    border: 1px solid #5b5d7e;
    border-radius: 5px;
    padding: 10px;

    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: center;
    align-items: center;
}

.toast-icon {
    grid-row: 1 / span 2;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.success .toast {
    border: 1px solid #82dd55;
}

.success .toast-header strong, .success .toast-icon  {
    color: #82dd55;
}

.fail .toast {
    border: 1px solid #e23636;
}

.fail .toast-header strong, .fail .toast-icon {
    color: #e23636;
}